<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
  <!-- lista de palabras -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
<!-- letras para elegir -->
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>

<!-- numero de palabras -->
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->


<!-- inserted to try -->
<div class="row">
  <div class="col-xs-6 text-center">
    <form id="entry1">
        <label for="attempt1">Word:</label>
        <input id="attempt1" name="attempt1" type="text" width="15"
          autocomplete="off"  autofocus />
    </form>
  </div>
</div>
<p id="response"> </p>
<p id="list"> </p> <!-- JavaScript will insert text here -->
<p id="tiles"> </p>


<script>
//block submit
    $("#entry1").submit(function(event) {
       event.preventDefault();
      });
//for every key stroke
    $("#attempt1").keyup(function(event) {
       var txt = $("#attempt1").val();  // Current content of the input field
       var keycode = event.which;      // They key that just went up
       var letter = String.fromCharCode(keycode);
       if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)){
         return
       }
       //sends to the server and back.
       $.getJSON( "/_ajax",
                  { text: txt },
                  function(data) {
                    rsval = data.result.response;
                    // console.log("rsval: " + rsval)
                    if (rsval.localeCompare("Match") == 0){
                       $("#response").html("Bingo!");
                       $("#list").append(txt+ " ");
                       $("#attempt1").val("");
                    }
                    else if (rsval.localeCompare("Already") == 0){
                        $("#response").html("Already Found!");
                        $("#attempt1").val("");
                    }
                    else if (rsval.localeCompare("many") == 0){
                      $("#response").html("No word matched!");
                      $("#attempt1").val("");
                    }
                    else if (rsval.localeCompare("end") == 0) {
                      $("#response").html("Victory!");
                      $("#attempt1").val("");
                      $("#list").html("");
                    }
                    else{
                      $("#response").html(" ");
                    }
                    showTiles(txt);
                   }
               );

       });


    function showTiles(text) {
       text = text.toUpperCase();  // tiles are letter-A.png, etc.
       tiles_html = "";  // Build up the html text of links
       for (var i=0; i < text.length; i++) {
           letter = text.charAt(i);
           if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) {
              continue;
           }
           var tileURL = "/static/img/letter-" + letter + ".png";
           var tileLink = "<img src='" + tileURL +
               "' style='border: 0px; margin: 0px;'/>";
           tiles_html = tiles_html + tileLink;
        }
        $("#tiles").html(tiles_html);
        // alert("Inserted html: " + tiles_html);
    }
</script>




 </div> <!-- container -->
</body> </html>
